
.headers{
  font-family: 'Open Sans', sans-serif;
  /* padding-top: 0.2rem; */
  color: azure;
  /* justify-content: center; */
  /* height: 4rem; */
  background-color: darkslategray;
}

.align-center{
  display: flex;
  height: 100vh;
}

body{
  background-color:#e4e5e6;

}

.color-links{
  /* margin: 1rem; */
  color: azure;
  text-decoration: underline;
  }

  .color-links:hover{
    color: azure;
    background-color: rgb(61, 109, 109);
    text-decoration: underline;
    
  }

  .text-header{
        font-size: 2rem;
  }