
.headers{
  font-family: 'Open Sans', sans-serif;
  color: azure;  
  height: 70px;
}

.align-center{
  display: flex;
  height: 100vh;
}

body{
  background-color:#e4e5e6;

}

.color-links{
  /* margin: 1rem; */
  color: azure;
  /* text-decoration: underline; */
  }

  .color-links:hover{
    color: azure;
    
  }

  .text-header{
        font-size: 2rem;
  }

  .pregunta-examen{
    padding: 0.5rem;
  }

  .respuestas{
    margin-left: 1rem;
  }

  .center-item{
    margin-left: 400px;
  }
  .layout{
    height: auto;
  }
  .move-up{
    margin-top: -2rem;
  }

  @media (min-width: 700px) {

    .center-item{
      margin-left: 0px;
    }
   .layout{
    height: auto;
   }
   .pregunta-examen{
    padding: 0.1rem;
    /* margin-left: 2rem; */
    /* margin-bottom: 2rem; */
  }
  
  .respuestas{
    margin-left:0.4rem;
  }

  /* .headers.center-item{
    size: 0.8rem;
  } */
  }

  @media (max-width: 350){
    .pregunta-examen{
      padding: 0.1rem;
      /* margin-left: 2rem; */
      /* margin-bottom: 2rem; */
    }

    .respuestas{
      margin-left:0.4rem;
    }
    .layout{
      height: auto;
     }
    .center-item{
      margin-left: 0px;
    }
  }


  